.home-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;;
}

.item {
    border: 1px solid #ccc;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider {
    border: 1px solid #ccc;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
