svg {
  width: 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 2rem;
  width: 100%;
}

.home-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
}

nav {
  height: 3rem;
  background-color: #df4783;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.left-arrow {
  width: 1.5rem;
}
